<div class="container my-5">
  <div class="col-md-8 mx-auto">
    <h1 class="mb-4 fw-bold text-center">
      Welcome to TGU掲示板!!
    </h1>

    <div class="text-center">
      <p class="mb-3">
        ここでは東北学院大学生の日々のつぶやきや講義についての情報などを<br>
        シェアすることができます。
      </p>

      <p class="mb-3">
        アカウント登録することで投稿できます。
      </p>

      <p class="mb-3">
        アプリに関するご意見・ご感想は、下記の "Contact me" よりお送りください。
      </p>

      <p class="mb-4">
        また、東北学院大学のサークル・部活動・就活情報などを知りたい人は
        <%= link_to "東北学院大学情報局","https://www.instagram.com/tohoku_gakuin_recommend", class: "text-decoration-underline text-primary", target: "_blank", rel: "noopener" %>
        をチェック!!
      </p>

      <p class="small text-muted">
        ※不適切な内容や荒らし行為だと思われる投稿は運営側で削除させていただきます🙏
      </p>
    </div>
  </div>
</div>