<div class=container>
  <div class="row">
    <h1 class="px-3 mx-auto">
    Welcome to TGU掲示板!!
    </h1>
    <p>ここでは東北学院大学生の日々のつぶやきや講義についての情報などを<br>
    シェアすることができます。<br>
    また、アカウント登録することで投稿できます。
    <br>
    <br>
    ※不適切な内容や荒らし行為だと思われる投稿は運営側で対処させていただきます。</p>
  </div>
</div>