<div class=container>
  <div class="row">
    <h1 class="px-3 mx-auto text-center">
    Welcome to TGU掲示板!!
    </h1>
    <div class="text-center">
    <p>ここでは東北学院大学生の日々のつぶやきや講義についての情報などを<br>
    シェアすることができます。<br>
    また、アカウント登録することで投稿できます。<br>
    アプリに関するご意見・ご感想は、下記の "Contact me" よりお送りください。
    <br>
    <br>
    ※不適切な内容や荒らし行為だと思われる投稿は運営側で削除させていただきます🙏</p>
    </div>
  </div>
</div>